body{
    background: #dcb9a0
}
h1{
    font-size: 250%;
    font-family:monospace;
    text-align: center;
}
.BUY{
    font-size: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}